<p class="text-emerald-500"><%= notice %></p>
<h1>Listings</h1>

<section id="listings" class="grid grid-cols-3 gap-6">
  <% @listings.each do |listing| %>
    <%= link_to listing_url(listing), class: 'rounded-xl shadow-md overflow-hidden' do %>
      <article>
        <%= image_tag listing.image_url, class: 'aspect-1.5 w-full' if listing.image? %>
        <span class="block px-4 py-2">
          <h5 class="inline text-lg"><%= render listing.address %></h5>
          <span class="items-center">
            <i class="fas fa-bed"></i><%= listing.bedroom_count %>
            <i class="fas fa-bath"></i><%= listing.bathroom_count %>
            <i class="fas fa-car"></i><%= listing.carpark_count %>
          </span>
          <span class="inline float-right text-2xl font-bold text-justify">
            <%= number_to_currency listing.monthly_rent, precision: 0 %>
          </span>
        </span>
      </article>
    <% end %>
  <% end %>
</section>
